* {
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
  }

.title {
  text-align: center;
  border-bottom: 3px solid black;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.wait-spinner {
  font-size: 40px;
  width: 50px;
  height: 50px;
}

.all-words {
  display: grid;
  flex-direction: column;
  row-gap: 7px;
  justify-content: center;
}

.word {
  display: flex;
  flex-direction: row;
  column-gap: 7px;
}

.letter-container {
  display: flex;
  background-color: white;
  width: 50px;
  height: 50px;
  border: 5px solid lightgray;
  justify-content: center;
  align-items: center;
}

.letter {
  font-size: 20px;
  font-weight: bold;
}