* {
    box-sizing: border-box;
    font-family: 'Open Sans';
  }

.app {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
}

.brand-header {
    display: flex;
    width: 100%;
    background-color: #43281c;
    color: #fbf2c0;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.items-section {
  grid-area: items;
}

.customer-name-section {
  grid-area: customer-name;
}

.payment-section {
  grid-area: payment;
}

.checkout-page {
  display: grid;
  grid-template-areas:
    "items customer-name"
    "items payment";
}

.checkout-page {
  background-color: #efefef;
  margin: 40px;
}

.checkout-section {
  background-color: #ede0d4;
  margin: 20px;
  align-self: start;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.checkout-section-name {
  color: #7f4f24;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 15px;
}

.item-quantity {
  grid-area: quantity;
}

.item-name {
  grid-area: name;
}

.item-cost {
  grid-area: cost;
}

.item-note-container {
  grid-area: note_container;
}

.item {
  display: grid;
  grid-template-areas:
    "quantity name cost"
    ". note_container .";
}

.item-quantity {
  color: black;
  text-align: center;
  font-weight: lighter;
}

.item-name {
  color: black;
  font-weight: bold;
  text-align: left;
  font-weight: lighter;
}

.item-cost {
  color: black;
  font-weight: bold;
  text-align: center;
  font-weight: lighter;
}

.item-note {
  color: #7f4f24;
  font-weight: bold;
  font-weight: lighter;
}

.item-note-container {
  margin-top: 10px;
}

.item {
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 15% 70% 15%;
  margin: 2%;
  border-bottom: 3px solid #e5cbb2;
}

.item:last-child {
  border-bottom: 0px;
}

/* Input element styles */

.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-label {
  background-color: #ede0d4;
  color: #7f4f24;
  font-size: 16px;
  position: absolute;
  left: 5%;
  top: 5%;
  padding: 0 2px;
}

.input-text {
  border-color: #7f4f24;
  border-style: solid;
  border-width: 1px;
  background-color: #ede0d4;
  padding: 8px;
  margin: 2%;
  border-radius: 30px;
  text-indent: 25px;
  font-size: 14px;
}

.input-text.cvv {
  width: 200px;
}
